<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="eu.esdihumboldt.cli">
      <command
            class="to.wetransform.halecli.VersionCommand"
            id="hale-cli.version"
            name="version">
      </command>
      <command
            class="to.wetransform.halecli.project.alignment.FilterAlignmentCommand"
            group="project.alignment"
            id="hale-cli.project.alignment.filter"
            name="filter">
      </command>
      <command
            class="to.wetransform.halecli.groovy.GroovyShellCommand"
            id="hale-cli.groovysh"
            name="groovysh">
      </command>
      <group
            description="Data processing"
            id="data"
            name="data">
      </group>
      <command
            class="to.wetransform.halecli.data.SplitCommand"
            group="data"
            id="hale-cli.data.split"
            name="split">
      </command>
      <command
            class="to.wetransform.halecli.data.RewriteCommand"
            group="data"
            id="hale-cli.data.rewrite"
            name="rewrite">
      </command>
      <group
            description="Migrate projects to use a different schema or schema elements"
            id="project.migrate"
            name="migrate"
            parent="project">
      </group>
      <command
            class="to.wetransform.halecli.project.migrate.MigrateMatchingCommand"
            group="project.migrate"
            id="hale-cli.project.migrate.matching"
            name="matching">
      </command>
      <command
            class="to.wetransform.halecli.project.merge.MergeCommand"
            group="project"
            id="hale-cli.project.merge"
            name="merge">
      </command>
      <command
            class="to.wetransform.halecli.project.migrate.ReplaceSourceCommand"
            group="project.migrate"
            id="hale-cli.project.migrate.source"
            name="source">
      </command>
      <group
            description="Schema processing"
            id="schema"
            name="schema">
      </group>
      <command
            class="to.wetransform.halecli.schema.RewriteCommand"
            group="schema"
            id="hale-cli.schema.rewrite"
            name="rewrite">
      </command>
      <group
            description="Generate hale projects"
            id="project.generate"
            name="generate"
            parent="project">
      </group>
      <command
            class="to.wetransform.halecli.project.match.postnas.PostNASMatchSchemas"
            group="project.generate"
            id="hale-cli.project.generate.postnas-matching"
            name="postnas-matching">
      </command>
      <command
            class="to.wetransform.halecli.project.ExportProjectCommand"
            group="project"
            id="project.export"
            name="export">
      </command>
   </extension>
</plugin>
