name: Check

on:
  pull_request:
    branches:
      - master

jobs:
  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    with:
      java-version: 17

  docker:
    uses: wetransform/gha-workflows/.github/workflows/gradle-service-check.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    with:
      java-version: 17
      image-tag: wetransform/hale-cli:latest # image to scan
      # don't run tests since this is already done in check
      gradle-tasks: clean dockerTagLatest
      expect-tests: false
