name: Check

on:
  pull_request:
    branches:
      - master

jobs:
  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@14995ce361a7c42fb9665895fd44c9483e02351d # v3.8.3
    with:
      java-version: 17

  docker:
    uses: wetransform/gha-workflows/.github/workflows/gradle-service-check.yml@14995ce361a7c42fb9665895fd44c9483e02351d # v3.8.3
    with:
      java-version: 17
      image-tag: wetransform/hale-cli:latest # image to scan
      # don't run tests since this is already done in check
      gradle-tasks: clean dockerTagLatest
      expect-tests: false
